* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #eef0f4;
  background: linear-gradient(45deg, #eef0f4 0%, #585885);
  color: #432000;
  -webkit-user-select: none;
  user-select: none;
  /* background-color: #DB595F; #FFC8C1; #FFE4DB*/
}

.container {
  max-width: 320px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ffffff;
  background: linear-gradient(45deg, #FFC8C1 0%, #FFE4DB 50%, #ffc0cb 100%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

header p {
  font-size: 1.5rem;
  margin-top: 2px;
  /* margin-bottom: 20px; */
}

.container .image {
  text-align: center;
  /* margin-top: 3px; */
}

.container .image img {
  width: 100%;
  /* margin-bottom: 10px; */
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

input,
button {
  border: none;
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 8px;
}

input {
  color: #432000;
  background-color: #dce1eb;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

button {
  color: #fdfdfd;
  background-color: #ac485a;
  cursor: pointer;
  /* background-color: #DB595F; */
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #432000;
  /* background-color: #FCA6B1; */
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  background-color: #fffdf8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2) inset;
  font-size: 1.2rem;
  padding: 15px;
  border-radius: 5px;
  flex: 1 1 auto;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

ul li:hover {
  /* background-color: #FFECC7; */
  background-color: #FCA6B1;
}
